
<nav class="navbar navbar-expand-lg navbar-dark bg-light static-top">
    <div class="container">
        <a class="navbar-brand">
            <img src="../../assets/logo_seekmake.png" alt="" style="width: 100%">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item active">
                    <a class="nav-link text-dark" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                    <button type="button" class=" btn btn-primary" routerLink="/stepper">Upload</button>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Login</a>
                </li>

            </ul>
        </div>
    </div>
</nav>