<div class="container-fluid intro-2">

  <div class="row justify-content-md-center">



    <button type="button" class="col-2 btn btn-primary font-weight-bold " style="margin-top: 20rem!important;"
      routerLink="/stepper">Simple 3 Click</button>

  </div>


</div>

<div class="container-fluid intro_1">
  <div class="row justify-content-center">
    <div class="col-md-3 card-input">
      <label class="card-input" for="type_1">
        <input type="radio" name="product" class="card-input-element" id="type_1" />
        <div class="panel panel-default card-input">
          <div class="card " style="width: 100%;">
            <img src="../../assets/1.png" style="width: 50px;" class="card-img-top" alt="...">
            <div class="card-body mt-2">
              <h5 class="card-title">Impression 3D</h5>
              <p class="card-text"> L'impression 3D ou impression tridimensionnelle est l’appellation
                « grand public » des procédés de fabrication de pièces en volume par ajout ou
                agglomération de matière. Dans le langage industriel on préfère le terme fabrication
                additive.
              </p>
            </div>
          </div>
        </div>

      </label>

    </div>
    <div class="col-md-3 card-input">

      <label class="card-input" for="type_2">
        <input type="radio" name="product" class="card-input-element" id="type_2" />

        <div class="panel panel-default card-input">
          <div class="card" style="width: 100%;">
            <img src="../../assets/2.png" style="width: 50px;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Fraisage</h5>
              <p class="card-text"> Le fraisage est un procédé de fabrication où l'enlèvement de
                matière sous forme de copeaux résulte de la combinaison de deux mouvements : la
                rotation de l'outil de coupe, d'une part, et l'avancée de la pièce à usiner
                d'autre part.
              </p>
            </div>
          </div>
        </div>
      </label>

    </div>
    <div class="col-md-3 card-input">

      <label class="card-input" for="type_3">
        <input type="radio" name="product" class="card-input-element" id="type_3" />

        <div class="panel panel-default card-input">
          <div class="card" style="width: 100%;">
            <img src="../../assets/3.png" style="width: 50px;" class="card-img-top" alt="...">
            <div class="card-body" style="height: 250px;">
              <h5 class="card-title">Laser</h5>
              <p class="card-text"> La découpe laser est un procédé de fabrication
                qui consiste à découper la matière grâce à une grande quantité d’énergie
                générée par un laser et concentrée sur une très faible surface.
            </div>
          </div>
        </div>
      </label>

    </div>
  </div>
</div>

<div class="container-fluid intro-3">
  <div class="row justify-content-center text-center text-light ">
    <div class="mt-5 ">
      <h3 class="h3">Procedure</h3>
      <h1 class="h1">Comment procéder</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-3 text-center text-light">
        <button type="button" class="btn btn-light btn-circle btn-xl">
          1</button>
      <p class="type_1">Technique</p>
      <p class="type_2">Choisir la technique</p>
    </div>
    <div class="col-md-3 text-center text-light">
      <button type="button" class="btn btn-light btn-circle btn-xl">
        2</button>
      <p class="type_1">Modéle</p>
      <p class="type_2">Changer votre modéle</p>
    </div>
    <div class="col-md-3 text-center text-light">
      <button type="button" class="btn btn-light btn-circle btn-xl">
        3</button>
      <p class="type_1">Information</p>
      <p class="type_2">Remplir vos information</p>
    </div>
    <div class="col-md-3 text-center text-light">
      <button type="button" class="btn btn-light btn-circle btn-xl">
        4</button>
      <p class="type_1">C'est tout</p>
      <p class="type_2">Votre demande est reçu</p>
    </div>

  </div>

</div>